*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
header {
    display: flex;
    margin: 0%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(99, 125, 139);
    border: 3px;
    
}
.title-content {
    display: flex;
    align-items: center;
}
img {
    margin-left: 10px;
    border-radius: 50%;
    height: 50px;
}

 h1 {
    padding-left: 20px;
    padding-top: 5px;
    padding-right: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: 'Trebuchet MS', sans-serif;
    color: rgb(65, 68, 68);
    background-color: rgb(38, 168, 228);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px ;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-right: 3px;
    height: 100%;
    /* background-color: rgb(38, 168, 228); */
   
}

.link {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: larger;
    text-decoration:none;
    margin-right: 20px;
    padding-bottom: 3px;
    color: rgb(65, 68, 68);
    background-color:transparent;
    border-bottom: 4px solid rgb(65, 68, 68);
}

.hero-banner div {
    flex: 0% 0% 90%;
}

.hero-banner {
     display: flex;
    justify-content:end;
    margin:auto;
    width: auto;
    padding: 10%;
    background-image: url(./images/Batman.webp);
    background-size: contain;
    position: relative;
}

.catchphrase {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(224, 210, 13);
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;   
}

main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-size: xx-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(176, 211, 211);
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    align-items:center;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.page-section{
    display: flex;
    justify-content:start;
    width: 100%;
    max-width: 1440px;
    margin-top: 15px;
    margin-bottom: 15px;
    position:relative;
}

.page-section h2 {
    width: 300px;
    text-align: end;
    margin: 25px;
    padding: 15px;
    border-right: 5px solid rgb(15, 15, 15);
}

.page-section div {
    width:100%;
}

.page-section p {
    margin: 21px auto;

}

.flex-container {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 25px;
}

#contact div {
    padding-top: 50px;
}

.info {
    color: rgb(243, 7, 18);;
    text-decoration: none;
    border-bottom: 4px solid black;
    
}
.page-section address {
    text-decoration: none;
    padding: 5px;
    margin: 5px;

} 
.flex-item {
    border: 4px solid rgb(72, 72, 82);
    background-color: rgb(42, 47, 48);
    color: grey;
    min-height: 150px;
    max-height: 150px;
   
    padding: 0% 0% 20px 0;
    margin: 20px;
    text-decoration: none;
    background-blend-mode:soft-light;
    background-size: 150%;
    transition: all 0.9rem;
}

/* Just using place holder images */
 .project-1 {
    background-image: url(./images/Waves.jpg);
    background-position: center;
 }

 .project-2 {
   background-image: url(./images/Blue\ Matrix.png);
 }

 .project-3 {
    background-image: url(./images/Blue\ Matrix.png);
 }

 .project-4 {
    background-image: url(./images/Blue\ Matrix.png);
 }

.project-5 {
    background-image: url(./images/Blue\ Matrix.png);
}

 @media(max-width: 1024px) {
    .page-section h2 {
        text-align: center;
        border-right: none;
        border-bottom: 4px solid black;
        margin: auto;
        margin-bottom: 20px;

    }
    .page-section {
        flex-direction: column;
    }
    
 }

 